html {
      color: #888;
      display: table;
      font-family: sans-serif;
      height: 100%;
      text-align: center;
      width: 100%;
    }

.warning {
      margin: 2rem auto;
      content-align: center;
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center;     /* Centers vertically */
    }

h1 {
      color: #555;
      font-size: 2rem;
      font-weight: 400;
    }

p {
      margin: 0 auto;
      width: 280px;
    }

@media only screen and (max-width: 280px) {

      body,
      p {
        width: 95%;
      }

      h1 {
        font-size: 1.5rem;
        margin: 0 0 0.3rem;
      }

    }
